<footer>
    <h2>Resources</h2>
    <a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE</a>
    <a href="https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" target="_blank">Coronavirus COVID-19 Global Cases by Johns Hopkins CSSE (Desktop Visual Dashboard)</a>
    <a href="https://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61" target="_blank">Coronavirus COVID-19 Global Cases by Johns Hopkins CSSE (Mobile Visual Dashboard)</a>
</footer>