<header>
    <h1>COVID-19 Report</h1>
    <div>Last update: <span class="last-update-timestamp"></span></div>
    <div>
        <span>Auto update report:</span>
        <input id="auto-update-report-switch" type="checkbox">
    </div>
</header>