<main>
    <a
        class="covid19-latest-report-link"
        href="/api/latest-report"
        download="covid19-latest-report.json"
        rel="nofollow">Download latest report</a>
    <div class="covid19-data">
        <%- include('table.ejs', { tableData: totalsReport }); %>
        <div class="covid19-primary-data-container">
            <div class="covid19-primary-data-sorts">
                <button
                    id="confirmed-button"
                    class="covid19-active-sort"
                    title="Sort by confirmed case counts"
                    aria-label="Sort by confirmed case counts">&check;</button>
                <button
                    id="deaths-button"
                    title="Sort by death counts"
                    aria-label="Sort by death counts">&#9904;</button>
                <button
                    id="recovered-button"
                    title="Sort by recovered case counts"
                    aria-label="Sort by recovered case counts">&#9877;</button>
                <button
                    disabled
                    id="location-button"
                    title="Sort by your location"
                    aria-label="Sort by your location">&#9737;</button>
            </div>
            <%- include('table.ejs', { tableData: latestReport }); %>
        </div>
    </div>
</main>