<main>
    <div>
        <a
            href="/api/latest-report"
            download="covid19-latest-report.json"
            rel="nofollow">Download latest report</a>
    </div>
    <div class="covid19-data">
        <%- include('table.ejs', { tableData: totalsReport }); %>
        <div class="covid19-primary-data-container">
            <select id="sort-type-dropdown" name="sort-type">
                <option value="confirmedCounts" selected>Sort by count of confirmed cases</option>
                <option value="deathCounts">Sort by count of deaths</option>
                <option value="recoveredCounts">Sort by count of recoveries</option>
                <option value="locationNearest">Sort by cases nearest you</option>
            </select>
            <%- include('table.ejs', { tableData: latestReport }); %>
        </div>
    </div>
</main>