<main>
    <div class="covid19-location-info">
        <div class="covid19-location-info-coords">
            <span>Your Lat: <span id="location-lat">N/A</span></span>
            <span>Your Long: <span id="location-long">N/A</span></span>
        </div>
        <button disabled id="location-button">Sort by nearest me</button>
    </div>
    <div class="covid19-data">Loading...</div>
</main>