<% tableData.forEach(tableDataRow => { %>
    <tr>
        <% tableDataRow.forEach(tableDataCell => { %>
            <td><%= tableDataCell.toLocaleString() %></td>
        <% }); %>
    </tr>
<% }); %>